.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari 和 Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none; /* Opera */
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background: #1c1c1c;
    border-radius: 8px;
    box-sizing: border-box;
}

h1 {
    color: #e50914;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

.image-container {
    display: block;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.button-container button {
    width: 48%;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button:hover {
    background-color: #b00610;
}
